microfluidics-optimization_files/user_files/data/*.*
microfluidics-optimization_files/user_files/data/dpm/*
.microfluidics-optimization_files.backup/
microfluidics-optimization_files/.vs/
microfluidics-optimization_files/.lock
import.wbjn
*.dpm
*.prof
*.txt
*.pdf
*.csv
microfluidics-optimization_files/user_files/.flwb_report_files/
*.log
microfluidics-optimization_files/user_files/data/backup/repair.m
microfluidics-optimization_files/session_files/*.*
microfluidics-optimization_files/user_files/FluentReportServer/media/*.*
*.gif
*.nexdb
*.pid
*.status
microfluidics-optimization_files/user_files/data/likelybaddata-noreflections/reservedata/desktop.ini
