microfluidics-optimization_files/user_files/data/*.*
microfluidics-optimization_files/user_files/data/dpm/*
.microfluidics-optimization_files.backup/
microfluidics-optimization_files/.vs/
microfluidics-optimization_files/.lock
import.wbjn
*.dpm
*.prof
*.txt
*.pdf
*.csv
microfluidics-optimization_files/user_files/.flwb_report_files/
*.log
microfluidics-optimization_files/user_files/data/backup/repair.m
microfluidics-optimization_files/session_files/*.*
microfluidics-optimization_files/user_files/FluentReportServer/media/*.*
*.gif
*.nexdb
*.pid
*.status
microfluidics-optimization_files/user_files/data/likelybaddata-noreflections/reservedata/desktop.ini
microfluidics-optimization_files/progress_files/dp0/FFF/Fluent/*.*
microfluidics-optimization_files/dp0/FFF/Fluent/SolutionMonitor.gz
microfluidics-optimization_files/dp0/FFF/Fluent/*.cas.h5
cleanup-fluent-*.bat
microfluidics-optimization_files/progress_files/dp0/FFF/Fluent/*.png
microfluidics-optimization_files/user_files/data/old-analysis/*.*
microfluidics-optimization_files/user_files/data/old-analysis/
microfluidics-optimization_files/dp0/FFF/Fluent/FFF.3.ip
microfluidics-optimization_files/dp0/FFF/Fluent/FFF.3.set
microfluidics-optimization_files/dp0/FFF/MECH/FFF.3.msh
microfluidics-optimization_files/dp0/global/MECH/FFF.mshdb
microfluidics-optimization_files/dp0/FFF/Fluent/FFF.3.ip
microfluidics-optimization_files/dp0/FFF/Fluent/FFF.3.set
